<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Music Pro Payment System API</title>
	<meta name="author" content="David Grzyb">
    <meta name="description" content="">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
</head>
<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0" style="font-family:'Lato',sans-serif;">
    <header class="max-w-lg mx-auto">
        <a href="/" class="text-4xl font-bold text-white text-center"><h1>Music-Pro</h1></a>
    </header>
<div class="flex flex-row flex-wrap">
    <section class="w-full bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <h1 class="text-4xl font-bold pb-10 red-txt text-center">Payment System API</h1>
        <a href="admin"><button class="w-full text-center flex flex-col blue-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Login</button></a>
        <a href="admin"><button class="w-full text-center flex flex-col adm-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Admin</button></a>
        <a href="api/v1/usuarios"><button class="w-full text-center flex flex-col api-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Usuarios</button></a>
        <a href="api/v1/transacciones"><button class="w-full flex flex-col api-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Transacciones</button></a>
        <a href="api/v1/paysystem"><button class="w-full text-center flex flex-col adm-btn mb-6 pb-4 pt-4 text-white font-bold rounded shadow-lg hover:shadow-xl" type="button">Test Task list</button></a>

    </section>
</div>
</body>
<footer class="">
    <h1 class="text-center text-white font-bold text-2xl">Hecho por Daemon</h1>
</footer>
<style>
    .body-bg {
        background-color: #0f0f0f;
    }
    .api-btn{
        background-color: #2a2a2a;
    }
    .api-btn:hover{
        background-color: #2a2a2a;
    }
    .adm-btn{
        background-color: #ba161e;
    }
    .blue-btn{
        background-color: #164dba;
    }
    .red-txt{
        color: #ba161e;
    }
</style>
</html>

